<!DOCTYPE html>
<html lang="pt-BR" class="no-js">
  <head>
    <%- include('/head', {head: content.head}) %>
  </head>
  <body>
    <% if (content.header) { %>
    <header class="page-header">
      <% if (!utilities.isWrappedInParagraphTags(content.header)) { %>
      <h1>
        <% } %> <%- content.header %> <% if (!utilities.isWrappedInParagraphTags(content.header)) {
        %><sup><a href="#source" alt="Fontes" title="Fontes"><i class="fas fa-anchor" aria-hidden="true"></i></a></sup>
      </h1>

      <% } %>
        <a href="https://stop-war-for-ever.vercel.app">
          <img src="https://img.shields.io/endpoint?color=purple&label=STOP&url=https%3A%2F%2Fwww.artesdosul.com%2Fapi.php%3Fcallback%3Dstop" alt="website artesdosul" style="margin-bottom: 5px;" />
        </a>
    </header>

    <% } %>
    <section>
      <div class="timeline-filter-wrapper">
        <header class="timeline-filter">
          <ul>
            <li>
              <input type="checkbox" name="filter-shortcut" id="all" checked />
              <label for="all" class="timeline-filter-filter">Todos</label>
            </li>
            <li>
              <input type="checkbox" name="filter-shortcut" id="none" />
              <label for="none" class="timeline-filter-filter">Nenhum</label>
            </li>
            <% content.filters.forEach(function(filter){ %>
            <li>
              <input type="checkbox" name="filter" id="<%= filter %>" checked />
              <label for="<%= filter %>"><%- utilities.sentenceCase(filter) %> </label>
            </li>
            <% }); %>
          </ul>
        </header>
      </div>
    </section>
    <section class="sectiontimeline">
      <article class="timeline">
        <% content.entries.forEach(function(entry){ %>
        <div
          class="timeline-entry"
          data-category="<%= entry.categoriesString %>"
          aria-hidden="false"
        >
          <div class="timeline-icon <%- entry.color || 'grey' %>" title="<%= entry.faicon %>">
            <% if (entry.faicon) { %>
            <i class="fas fa-<%= entry.faicon %>" aria-hidden="true"></i>
            <% } %>
          </div>
          <div class="timeline-description">
            <span class="timestamp"
              ><time datetime="<%- entry.datetime || entry.date %>"
                ><%- utilities.humanizeDate(entry.datetime, entry.date) %></time
              ></span
            >
            <h2>
              <a id="<%= entry.id %>" href="#<%= entry.id %>"><i class="fas fa-link"></i></a><%-
              entry.title %>
            </h2>
            <% if (entry.image) { %>
            <div class="captioned-image image-right">
              <% if (entry.image.link) { %><a href="<%= entry.image.link %>"
                ><% } %>
                <img src="<%= entry.image.src %>" alt="<%= entry.image.src %>" />
                <% if (entry.image.link) { %></a
              ><% } %> <% if (entry.image.caption) { %>
              <span class="caption"><%- entry.image.caption %></span>
              <% } %>
            </div>
            <% } %> <% if (!utilities.isWrappedInParagraphTags(entry.body)) { %>
            <p>
              <% } %> <%- entry.body %> <% if (!utilities.isWrappedInParagraphTags(entry.body)) { %>
            </p>
            <% } %> <% if (entry.links) { %>
            <ul>
              <% entry.links.forEach(function (link) { %>
              <li>
                <a href="<%= link.href %>" target="_blank"><%- link.linkText %></a><%-
                link.extraText %>
              </li>
              <% }) %>
            </ul>
            <% } %>
          </div>
        </div>
        <% }); %>
      </article>
    </section>
    <% if (content.footer) { %>
    <footer id="source" class="page-footer">
      <% if (!utilities.isWrappedInParagraphTags(content.footer)) { %>
      <p>
        <% } %> <%- content.footer %> <% if (!utilities.isWrappedInParagraphTags(content.footer)) {
        %>
      </p>
      <% } %>
      <p>
        <a href="https://stop-war-for-ever.vercel.app">
          <img src="https://img.shields.io/endpoint?color=purple&label=STOP&url=https%3A%2F%2Fwww.artesdosul.com%2Fapi.php%3Fcallback%3Dstop" alt="website artesdosul" style="margin-bottom: 5px;" />
        </a>  
        <a href="https://www.artesdosul.com" target="_blank" alt="Developer: Artes do Sul WEB">
          <img src="https://img.shields.io/endpoint?color=RGBA%2839%2C%20119%2C%20119%2C%201%29&label=artesdosul&url=https%3A%2F%2Fwww.artesdosul.com%2Fapi.php%3Fcallback%3Dweb" alt="website artesdosul" style="margin-bottom: 5px;" title="Developer: Artes do Sul WEB"/>
        </a>
      </p>
    </footer>
    <% } %>

    <script src="js/classlist-polyfill.js"></script>
    <script src="js/site-js.js"></script>
  </body>
</html>
